
@{
    ViewData["Title"] = "Index";
}

<article>
    <header class="Header">
        <h1>他山之石，可以攻玉</h1>
        <p class="Teaser">我们所知道的别样生活</p>
        <p class="Byline">作者 az1983</p>
    </header>
    <div class="Content">
        <p>
            <span class="LeadIn">夜的第七章</span>，来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。来至周杰伦，华语乐坛巨匠。
        </p>
        <figure class="FloatFigure">
            <img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=2fb4d2437cc6a7efb926af20c5c1c86c/8ad4b31c8701a18b4f7365d3942f07082938fe96.jpg" />
            <figcaption>
                周杰伦（Jay Chou），1979年1月18日出生于台湾省新北市，中国台湾流行乐男歌手、音乐人、演员、导演、编剧、监制、商人。
            </figcaption>
        </figure>
        <p>
            想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……想说还不能说的，还很多……
        </p>
        <h2>
            山丘
        </h2>
        <p>
            望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。望着大河弯弯，想说的还很多。
        </p>
        <aside class="PullQuote">
            周杰伦热心公益慈善，多次向中国内地灾区捐款捐物。2008年捐款援建希望小学[21]  。2014年担任中国禁毒宣传形象大使[22]  
        </aside>
        <h2>
            我爱你中国
        </h2>
        <p>
            我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国，我爱你中国。
        </p>
        <h2>
            只记今朝笑（粤）
        </h2>
        <p>
            开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍开心的感觉 倾心的快乐 今天开了心窍
        </p>
    </div>

</article>
